{% extends 'nav.html.twig' %}

{% block title %}História{% endblock %}

{% block body %}

    <style>
        .container{
            padding-top: 30px;
        }

    </style>

    <div class="container">
        {{ form(form) }}
    </div>

{% endblock %}
