{% extends 'nav.html.twig' %}

{% block title %}História{% endblock %}

{% block body %}

        <style>
                .container{
                        padding-top: 30px;
                }

        </style>

        <div class="container">
                <h1>Histórias</h1>
                <ul class="list-group">
                        {{ include('historia-lista.html.twig') }}
                </ul>
        </div>

{% endblock %}
