{% extends 'nav.html.twig' %}

{% block title %}História{% endblock %}

{% block body %}

        <style>
                .container{
                        padding-top: 30px;
                }

        </style>

        <div class="container">

                <div class="alert alert-warning" role="alert">
                        Para publicar história é necessário publicar pelo menos um capítulo!
                </div>

                {{ form(form) }}
        </div>

{% endblock %}
