{% extends 'nav.html.twig' %}

{% block title %}História{% endblock %}

{% block body %}

        <style>
                .container{
                        padding-top: 30px;
                }

                div#formHistoria button{
                        float: right;
                        background-color: #636163;
                        border-color: #636163;
                        margin-bottom: 30px;
                }

                div#formHistoria button:hover{
                        background-color: #878587;
                        border-color: #878587;
                }

        </style>

        <div class="container">

                <div class="alert alert-warning" role="alert">
                        Para publicar história é necessário publicar pelo menos um capítulo!
                </div>

                <div id="formHistoria">
                        {{ form(form) }}
                </div>
        </div>

{% endblock %}
