{% extends 'nav.html.twig' %}

{% block title %}Historia{% endblock %}

{% block body %}

    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <h4>
                        Historia
                    </h4>
                    <span>
                    <a href="" class="btn btn-info btn-sm">
                        Denunciar História
                    </a>
                </span>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column bd-highlight mb-3">
                <h4>Historia</h4>
                <h4 class="font-weight-light">Autor</h4>
                <img src="https://webkit.org/demos/srcset/image-src.png" alt="">
                <h5 class="font-weight-light">01/01/2000</h5>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor at auctor urna nunc id cursus metus aliquam eleifend. Vitae proin sagittis nisl rhoncus mattis rhoncus. Arcu dui vivamus arcu felis bibendum ut tristique. Cursus metus aliquam eleifend mi in. In est ante in nibh mauris cursus mattis molestie a. Arcu non odio euismod lacinia at. Tortor consequat id porta nibh venenatis. Sodales neque sodales ut etiam sit amet. Amet massa vitae tortor condimentum lacinia. Morbi tincidunt augue interdum velit euismod in pellentesque.

                    Morbi tempus iaculis urna id volutpat lacus laoreet. Erat velit scelerisque in dictum non consectetur a erat nam. Id diam maecenas ultricies mi eget mauris pharetra et ultrices. Vel eros donec ac odio tempor orci dapibus ultrices. Dictum sit amet justo donec enim diam vulputate ut pharetra. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Nisl nisi scelerisque eu ultrices vitae. Mi proin sed libero enim sed faucibus turpis. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Vitae aliquet nec ullamcorper sit amet risus nullam eget. Feugiat pretium nibh ipsum consequat nisl vel pretium.
                </p>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <h4>
                        Capitulos
                    </h4>
                    <span>
                    <h4>
                        Status: Em Andamento
                    </h4>
                </span>
                </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <div class="p-2 bd-highlight">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <h6>
                            Capitulo 1
                        </h6>
                        <span>
                            <a href="" class="btn btn-info btn-sm">
                                Visualizar
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h6>
                            Capitulo 2
                        </h6>
                        <span>
                            <a href="" class="btn btn-info btn-sm">
                                Visualizar
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h6>
                            Capitulo 3
                        </h6>
                        <span>
                            <a href="" class="btn btn-info btn-sm">
                                Visualizar
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
