{% extends 'nav.html.twig' %}

{% block title %}Rascunhos{% endblock %}

{% block body %}

    <style>
        div#box{
            width: 100%;
            height: 2px;
            background-color: #744e89;
        }

        div.container{
            padding-top: 60px;
        }

        div#lista{
            padding-top: 30px;
        }

        a#button-nav{
            color: white;
            background-color: #744e89;
        }

        a#btn-delete{
            background-color: #8db580;
            color: #f5f2ef;
        }

        a#btn-editar{
            background-color: #8db580;
            color: #f5f2ef;
        }

        div#historia-titulo{
            margin-top: 5px;
        }

        i.fas.fa-plus{
            font-size: x-large;
            margin-right: 10px;
            margin-top: 20px;
            color: #212529;
        }

        i.fas.fa-plus:hover{
            color: #666666;
        }

        a.nav-link{
            color: #313131;
        }

        a.nav-link:hover{
            color: #666666;
        }

    </style>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Rascunhos</h1>
            <a href="{{ path('historiaCreate') }}" id="icon-add"><i class="fas fa-plus"></i></a>
        </div>

        <div id="box"></div>
        <div id="lista">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="/rascunho/historias" id="button-nav">Histórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rascunho/capitulos">Capítulos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div id="divHistoria">
                        <ul class="list-group">
                            {% for historia in historias %}
                                <li  class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2 bd-highlight" id="historia-titulo">{{ historia.titulo }}</div>
                                        <div class="p-2 bd-highlight">
                                            <a href="/historia/rascunho/delete/{{ historia.getId }}" class="btn btn-default" id="btn-delete">Delete</a>
                                            <a href="/historia/rascunho/update/{{ historia.getId }}" class="btn btn-default" id="btn-editar">Editar</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
