{% extends 'nav.html.twig' %}

{% block title %}Rascunhos{% endblock %}

{% block body %}

    <style>
        div#box{
            width: 100%;
            height: 2px;
            background-color: #7e80c9;
        }

        div.container{
            padding-top: 60px;
        }

        div#lista{
            padding-top: 30px;
        }

        a#button-nav{
            color: white;
            background-color: #7e80c9;
        }

        div#capitulo-titulo{
            margin-top: 5px;
        }

        a#btn-delete{
            background-color: #8db580;
            color: #f5f2ef;
        }

        a#btn-editar{
            background-color: #8db580;
            color: #f5f2ef;
        }

    </style>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Rascunhos</h1>
{#            <a href="#" class="btn btn-default" id="button-rascunho">Inserir Rascunho</a>#}
        </div>

        <div id="box"></div>
        <div id="lista">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/rascunho/historias">Histórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/rascunho/capitulos" id="button-nav">Capítulos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div id="divCapitulos">
                        <ul class="list-group">
                            {% for capitulo in capitulos %}
                                <li  class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2 bd-highlight" id="capitulo-titulo">{{ capitulo.titulo }}</div>
                                        <div class="p-2 bd-highlight">
                                            <a href="/capitulos/delete/{{ capitulo.getId }}" class="btn btn-default" id="btn-delete">Delete</a>
                                            <a href="/capitulos/rascunho/update/{{ capitulo.getId }}" class="btn btn-default" id="btn-editar">Editar</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
