{% extends 'nav.html.twig' %}

{% block title %}Rascunhos{% endblock %}

{% block body %}

    <style>
        div#box{
            width: 100%;
            height: 2px;
            background-color: #7e80c9;
        }

        .container{
            padding-top: 20px;
        }

        div#lista{
            padding-top: 30px;
        }

        a#button-nav{
            color: white;
            background-color: #7e80c9;
        }
    </style>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Rascunhos</h1>
{#            <a href="#" class="btn btn-default" id="button-rascunho">Inserir Rascunho</a>#}
        </div>

        <div id="box"></div>
        <div id="lista">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="/rascunho/historias" id="button-nav">Histórias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rascunho/capitulos">Capítulos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for historia in historias %}
                            <li class="d-flex p-2 bd-highlight">
                                <a href="/historia/update/{{ historia.getId }}" class="list-group-item list-group-item-action">
                                    {{ historia.getTitulo }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
