{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}

    <style>
        .container{
            padding-top: 40px;
        }
    </style>

    <div class="container">
        {{ form(form) }}
    </div>

{% endblock %}
