{% extends 'nav.html.twig' %}

{% block title %}Historias{% endblock %}

{% block body %}

    <style>
        .container{
            padding-top: 40px;
        }
    </style>

    <div class="container">
        <h1>Historias</h1>
        <ul class="list-group">
            {{ include('historia-lista.html.twig') }}
        </ul>
    </div>
{% endblock %}
