{% extends 'nav.html.twig' %}

{% block title %}Contribuição{% endblock %}

{% block javascripts %}

    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
    <script>paypal.Buttons().render('body');</script>

{% endblock %}

{% block body %}

    <style>

        img{
            padding-top: 30px;
            padding-bottom: 30px;
            align-content: center;
        }
        label{
            float: left;
        }

        .container{
            padding-top: 60px;
            padding-bottom: 80px;
        }

        img.rounded-circle{
            width: 50%;
            height: auto;
        }

    </style>

    <div class="container">
        <div class="row">
            <div class="col" id="col-img">
                <div class="text-center">
                    <h1>Contribuição</h1>
                    <img src="https://webkit.org/demos/srcset/image-src.png" class="rounded-circle">
                    <h4 class="font-weight-light">{{ autor.getApelido }}</h4>
                </div>
            </div>
            <div class="col">
                <div class="shadow p-3 mb-5 bg-white rounded">
                        {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}