{% extends 'nav.html.twig' %}

{% block title %}Denúncia{% endblock %}

{% block body %}
    <style>
        .container{
            padding-top: 30px;
        }
    </style>

    <div class="container">
        <h4>Denúncia</h4>

        <div class="alert alert-success" role="alert">
            Denúncia enviada!
        </div>
    </div>

{% endblock %}