{% extends 'nav.html.twig' %}

{% block title %}Denúncia{% endblock %}

{% block body %}

    <style>
        .container{
            padding-top: 60px;
        }

        h4{
            padding-bottom: 10px;
        }

        a{
           float: right;
        }
    </style>

    <div class="container">
        <h4>Denúncia</h4>
        <form>
            <div class="form-group">

            </div>
        </form>
    </div>

{% endblock %}
