{% extends 'nav-admin.html.twig' %}

{% block title %}Denúncias{% endblock %}

{% block body %}

    <style>

        main{
            padding-top: 30px;
        }

        div#box{
            width: 100%;
            height: 2px;
            background-color: #744e89;
        }

        a.nav-link{
            color: #313131;
        }

        a.nav-link:hover{
            color: #666666;
        }

        ul.nav.nav-tabs{
            padding-top: 20px;
        }

    </style>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between">
            <h1>Denúncias</h1>
        </div>

        <div id="box"></div>


        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/denuncia/list">Pendentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/denuncia/list/aprovadas">Concluídas</a>
            </li>
        </ul>

        <div class="table-responsive-md">
            <table class="table">
                <thead>
                <tr>
{#                    <th scope="col">#</th>#}
                    <th scope="col">Usuário</th>
                    <th scope="col">Texto</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for denuncia in lista %}
                <tr>
{#                    <th scope="row">{{ denuncia.id }}</th>#}
                    <td>{{ denuncia.user|e }}</td>
                    <td>{{ denuncia.texto }}</td>
                    <td>{% if  denuncia.status == 1 %}Concluída{% endif %}</td>

                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
