{% extends 'nav.html.twig' %}

{% block title %}Histórias{% endblock %}

{% block body %}

    <style>
        div#box{
            width: 100%;
            height: 2px;
            background-color: #7e80c9;
        }

        div.container-fluid{
            padding: 40px 30px 10px 30px;
        }

        div#lista{
            padding-top: 30px;
        }

        .card{
            width: 200px;
            height: auto;
        }
    </style>

    <div class="container-fluid">
        <h1>Histórias</h1>
        <div id="box"></div>
        <div id="lista">
            <ul class="list-group">
                {% for historia in lista %}
                    <li class="d-flex justify-content-between">
                        <a href="/historia/{{ historia.id }}" class="list-group-item list-group-item-action">
                            {{ historia.titulo }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
