{% extends 'nav.html.twig' %}

{% block title %}Dados Pagamento{% endblock %}

{% block body %}

    <style>
        .container{
            padding-top: 30px;
        }
    </style>

    <div class="container">

        <h1>Dados Pagamento</h1>

        {{ form(form) }}
    </div>

{% endblock %}
