<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    {% block head_js %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/b9c18f8e89.js"></script>
    {% endblock %}

</head>
<body>
<style>

    a.nav-link{
        color: #313131;
    }

    a.nav-link:hover{
        color: #666666;
    }

</style>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <nav class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="/admin">Dashboard</a>
                        </nav>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categorias">
                            <span data-feather="file"></span>
                            Categorias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/generos">
                            <span data-feather="shopping-cart"></span>
                            Gêneros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/autores">
                            <span data-feather="users"></span>
                            Usuários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/denuncia/list">
                            <span data-feather="bar-chart-2"></span>
                            Denúncias
                        </a>
                    </li>
                    <div class="fixed-bottom">
                    <li>
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-sign-out-alt"></i></span>
                            Sair
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>