{% extends 'nav.html.twig' %}

{% block title %}Capitulo{% endblock %}

{% block body %}
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <h4>
                        Capitulo
                    </h4>
                    <span>
                    <h4>
                        customizacao
                    </h4>
                </span>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column bd-highlight mb-3">
                <h4>Capitulo</h4>
                <h5 class="font-weight-light">01/01/2000</h5>

                <p>
                    texto
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="" class="btn btn-info btn-sm">
                Próximo Capítulo
            </a>
        </div>
    </div>
{% endblock %}
