{% extends 'nav.html.twig' %}

{% block title %}Capitulo{% endblock %}

{% block body %}
    <style>
        h4,h5,p{
            text-align: center;
        }

        ul.nav.justify-content-end{
            margin: 20px;
        }

        :root {
            --background: var(--white);
            --content: var(--dark);
            --content-alt: var(--gray);
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --background: var(--dark);
                --content: var(--white);
                --content-alt: var(--gray);
            }
        }

        body.theme--light {
            --background: var(--white);
        }
        body.theme--dark {
            --background: var(--dark);
            color: #ffffff;
        }

        body.theme {
            background-color: var(--background);
        }

        .container{
            padding-top: 40px;
        }

    </style>

    <div class="container">
                <ul class="nav justify-content-end" id="menu-cust">
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="up"><i class="fas fa-plus"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="down"><i class="fas fa-minus"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="escuro"><i class="fas fa-moon"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="claro"><i class="far fa-lightbulb"></i></button>
                    </li>
                </ul>
                <div id="divContent">
                <h4>{{ capitulo.getTitulo }}</h4>
                <h5 class="font-weight-light">{{ capitulo.getDataPublicacao|date('d/m/Y') }}</h5>
                    <div id="divFont">
                        <p>
                            {{ capitulo.getTexto | raw }}
                        </p>
                    </div>
                </div>
                <ul class="nav justify-content-between">
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="escuro"><i class="fas fa-arrow-right"></i></button>
                    </li>
                </ul>
    </div>

    <script type="text/javascript">
        {
            let currentTheme = "light";

            const updateBtn = (className, theme) => {
                let btns = [...document.querySelectorAll(className)];
                let currentTheme = className.split("-").pop();
                let classNameText = className.replace(/\./g, "");
                let classNameUpdated = classNameText.replace(currentTheme, theme);
                btns.forEach((btn) => {
                    btn.classList.remove(classNameText);
                    btn.classList.add(classNameUpdated);
                });
            }

            const setLightTheme = () => {
                currentTheme = 'light';
                document.body.classList.add('theme--light');
                document.body.classList.remove('theme--dark');
                updateBtn('.btn-light', 'dark');
                updateBtn('.btn-outline-light', 'dark');
            }

            const setDarkTheme = () => {
                currentTheme = 'dark';
                document.body.classList.add('theme--dark');
                document.body.classList.remove('theme--light');
                updateBtn('.btn-dark', 'light');
                updateBtn('.btn-outline-dark', 'light');
            }



            document.body.classList.add("theme");

            document.getElementById('claro')
                .addEventListener('click', setLightTheme);
            document.getElementById('escuro')
                .addEventListener('click', setDarkTheme);

        }

        function getSize() {
            size = $( "div#divFont" ).css( "font-size" );
            size = parseInt(size, 10);
            $( "#font-size" ).text(  size  );
        }

        //get inital font size
        getSize();

        $( "#up" ).on( "click", function() {

            // parse font size, if less than 50 increase font size
            if ((size + 2) <= 50) {
                $( "div#divFont" ).css( "font-size", "+=2" );
                $( "#font-size" ).text(  size += 2 );
            }
        });

        $( "#down" ).on( "click", function() {
            if ((size - 2) >= 12) {
                $( "div#divFont" ).css( "font-size", "-=2" );
                $( "#font-size" ).text(  size -= 2  );
            }
        });

    </script>
{% endblock %}
